style.
    .title{
        font-size:1.7em;
        color: #B23E26;
    }
    .resp {
        font-size:1.65em;
        color: blue;
    }

h1 "Hello," #{name}
p
    b.title Edad:  
    span.resp #{edad} años
p
    b.title Nacionalidad:  
    span.resp #{nacionalidad}
p 
    b.title Género:  
    span.resp #{gender}
p 
    b.title Estatura: 
    span.resp #{estatura} cm